*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html,body{height:100%;}
.wrapper{
	min-height: 100%;
}
.pdpcontainer{
	margin: 15px auto;
}

.product-image{
	float: left;
	width: 40%;
}
.product-image .img-wrapper{
	height: 430px;
	border: 1px solid #ccc;
	padding: 10px;
	position: relative;
}
.product-image .img-wrapper img{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin: auto auto;
}
.product-details{
	overflow: hidden;
	padding: 0 10px;
}
.product-details h3{
	margin: 0;
}
.swatch{
	margin: 15px auto;
}
.swatch-content ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.swatch-content ul:after{
	clear:both;
	display: block;
	content: "";
}
.swatch-content ul > li{
	float: left;
	border: 1px solid #ccc;
}
.swatch-content ul > li.active{
	border:1px solid #000;
}
.swatch-content ul > li.active a{
	background: #000;
	color: #fff;
}
.swatch-content ul > li:not(:last-child){
	border-right: 1px none #ccc;
}
.swatch-content ul > li > a{
	width: 36px;
	height: 36px;
	display: block;
	font-size:12px;
	text-align: center;
	line-height: 36px;
	background: #fff;
	color: #000;
	text-decoration: none;
}
.swatch-label h4{
	font-size:14px;
	line-height: 36px;
	margin: 0;
	font-weight: bold;
	min-width: 70px;
}
.swatch-content{
	margin: 0 0 0 15px;
}
.swatch-content.options-color ul > li > a{
	font-size:0;
}

.qtybox input{
	border:1px solid #ccc;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
}