<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Backbone </title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="pdpcontainer" id="pdpcontainer">
				<div class="product-image">
					<div class="img-wrapper">
						<img src="images/cellphone.jpg" alt="">
					</div>
				</div>
				<div class="product-details"></div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script> -->
<script src="js/underscore-min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/backbone-min.js"></script>

<script type="text/template" id="details-view">
	<form action="/getData" method="POST" id="pdpform">
		<div class="product-title">
			<h3> <%= title %></h3>
		</div>
		<div class="product-size swatch"></div>
		<div class="product-color swatch"></div>
		<div class="swatch product-qty">
			<div class="lbl-qty pull-left swatch-label">
				<h4> Quantity : </h4>
			</div>
			<div class="qtybox pull-left swatch-content">
				<input type="text" value="1">
				<button class="btn btn-primary btn-add-to-cart hidden" > Add to Cart </button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="shipping-address"></div>
	</form>
</script>
<script type="text/template" id="address-view">
	<div class="shipping-container <%= validationSuccess?'':'hidden' %>">
		<div class="form-group">
			<label for="txt-address-1" class="lbl-address"> Address 1 </label>
			<input type="text" id="txt-address-1" class="form-control">
		</div>
		<div class="form-group">
			<label for="txt-address-2" class="lbl-address"> Address 2 </label>
			<input type="text" id="txt-address-2" class="form-control">
		</div>
		<div class="form-group">
			<label for="txt-city" class="lbl-address"> City </label>
			<input type="text" id="txt-city" class="form-control">
		</div>
		<div class="form-group">
			<label for="txt-state" class="lbl-address"> State </label>
			<input type="text" id="txt-state" class="form-control">
		</div>
		<div class="form-group">
			<label for="txt-zipcode" class="lbl-address"> Zip Code </label>
			<input type="text" id="txt-zipcode" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</script>
<script type="text/template" id="size-view">
	<div class="lbl-size pull-left swatch-label">
		<h4> Size : </h4>
	</div>
	<div class="options-size pull-left swatch-content">
		<ul>
			<% _.each(sizes, function(size){ %>
	            <li class="<%= size.active?'active':'' %>"> <a href="">  <%= size.title %> </a></li>
	        <% }); %>
			
		</ul>
	</div>
	<div class="clearfix"></div>
</script>
<script type="text/template" id="color-view">
	<div class="lbl-color pull-left swatch-label">
		<h4> Color : </h4>
	</div>
	<div class="options-color pull-left swatch-content">
		<ul>
			<% _.each(colors, function(color){ %>
	            <li class="<%= color.active?'active':'' %>" style="border-color:<%= color.title %>;"> <a href="" style="background:<%= color.title %>;">  <%= color.title %> </a></li>
	        <% }); %>
		</ul>
	</div>
	<div class="clearfix"></div>
</script>
<script type = "text/javascript">
	var model = Backbone.Model.extend({
		defaults:{
			title:null,
			sizes:[],
			colors:[],
			validationSuccess: false
		},
		initialize: function(){
			this.on('change',this.notify, this);
		},
		notify: function(){
			//console.log('notify',this.colors);
		}
	});
	var productData = new model({
		title:"One Plus 3T",
		validationSuccess: false,
		sizes:[
			{
				title: "XS",
				active: false
			},
			{
				title: "S",
				active: false
			},
			{
				title: "M",
				active: false
			},
			{
				title: "L",
				active: false
			},
			{
				title: "XL",
				active: false
			}
		],
		colors:[
			{
				title:"goldenrod",
				active: false
			},
			{
				title:"Gray",
				active: false
			},
			{
				title:"Black",
				active: false
			}
		]
	});
    var SizeView = Backbone.View.extend ({
        el: '.product-size',
        template: _.template( $('#size-view').html()),
        events:{
        	"click .options-size.swatch-content ul > li > a" :"sizeSelection",
        },
        sizeSelection: function(e){
        	if (!e) { return;};
        	var index = jQuery(e.target.parentElement).index();
        	//console.log(this.model.get('sizes'))
        	_.each(this.model.get('sizes'), function( obj ){ 
        		//console.log('obj : ',obj)
        		return obj.active = false; 
        	});
        	var arr = JSON.parse(JSON.stringify(this.model.get('sizes'))); //decoupling array references to triger change on model
        	arr[index]['active'] = true;
        	this.model.set('sizes',arr);
        	return false;
        },
        initialize: function() {
        	var self = this;
        	this.listenTo(this.model, 'change', function(){
        		self.render();
        	});
           this.render(); 
        }, 
        render: function() {
        	//console.log('child 1 :',this.model);
           var htmlOutput = this.template(this.model.toJSON());
           this.$el.html(htmlOutput);
           return this;
        }
     });
     
    var ColorView = Backbone.View.extend ({
        el: '.product-color',
        template: _.template( $('#color-view').html()),
        events:{
        	"click .options-color.swatch-content ul > li > a" :"colorSelection",
        },
        colorSelection: function(e){
        	if (!e) { return;};
        	var index = jQuery(e.target.parentElement).index();
        	_.each(this.model.get('colors'), function( obj ){ 
        		//console.log('obj : ',obj)
        		return obj.active = false; 
        	});
        	var arr = JSON.parse(JSON.stringify(this.model.get('colors'))); //decoupling array references to triger change on model
        	arr[index]['active'] = true;
        	this.model.set('colors',arr);
        	//this.model.get('colors')[index]['active'] = true;
        	//this.model.trigger('change:colors',this.model); //triggering manually..need to find more
        	return false;
        },
        initialize: function() {
        	var self = this;
        	this.listenTo(this.model, 'change', function(){
        		self.render();
        	});

           	this.render(); 
        }, 
        render: function() {
        	//console.log('child 2 :',this.model);
        	var htmlOutput = this.template(this.model.toJSON());
           	this.$el.html(htmlOutput);
           	return this;
        }
    });

	var AddressView = Backbone.View.extend ({
        el: '.shipping-address',
        template: _.template( $('#address-view').html()),
        events:{
        	
        },
        initialize: function() {
        	var self = this;
        	this.listenTo(this.model, 'change', function(){
        		self.render();
        	});

           	this.render(); 
        }, 
        render: function() {
        	//console.log('child 3 :',this.model);
        	var htmlOutput = this.template(this.model.toJSON());
           	this.$el.html(htmlOutput);
           	return this;
        }
    });


    var DetailsView = Backbone.View.extend({
    	el:".product-details",
    	template: _.template( $('#details-view').html()),
    	events:{
    		"submit #pdpform" : "showUserData"
    	},
        initialize: function() {
        	//this.listenTo(this.model, 'sync', this.render);
        	this.model.on('change',this.checkModel, this);
        	this.render(); 
           	this.sizeView = new SizeView({model: this.model});
           	this.colorView = new ColorView({model: this.model});
           	this.addressView = new AddressView({model: this.model});
           	
        },
        showUserData:function(){
        	return false;
        },
        checkModel: function(){
        	this.model.set('validationSuccess',this.validate(),{silent:true}) ; //to prevent recursion mute event
        	//console.log(this.model);
        },
        validate: function(){
        	return this.validateColors() && this.validateSizes();
        },
        validateSizes: function(){
        	for( var i=0; i<this.model.get('sizes').length; i++){
        		var size = this.model.get('sizes')[i];
        		if (size.active) {return true};
        	}
        	return false;
        },
        validateColors: function(){
        	for( var i=0; i<this.model.get('colors').length; i++){
        		var color = this.model.get('colors')[i];
        		if (color.active) {return true};
        	}
        	return false;
        },
        render: function() {
        	//console.log('parent :',this.model);
           	//this.$el.html(this.template());
           	var htmlOutput = this.template(this.model.toJSON());
           	this.$el.html(htmlOutput);
           	return this;
        }
    });

    var detailsView = new DetailsView({
     	model:productData
    });
</script>
</body>
</html>